body {
    background-color: #fafafa;
}

.brand-logo {
    font-family: 'Supermercado One', cursive;
    font-size: 300% !important;
}

i.info {
    font-size: 35px !important;
    margin-left: 10px;
}

.header-font {
    font-family: 'Roboto', sans-serif;
}

.normal-font{
    font-family: 'Open Sans', sans-serif;
}

.number {
    font-size: 150% !important;
    font-weight: bold;
}