body {
    background-color: #fafafa;
}

.brand-logo {
    font-family: 'Supermercado One', cursive;
    font-size: 300% !important;
}

i.info {
    font-size: 30px !important;
    margin-left: 10px;
}

i.input-file {
    font-size: 200% !important;
}

.btn {
    padding: 0 10px !important;
}

.header-font {
    font-family: 'Roboto', sans-serif;
}

.normal-font{
    font-family: 'Open Sans', sans-serif;
}

.number {
    font-size: 150% !important;
    font-weight: bold;
}

form {
    width: 50%;
}

.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: #e3f2fd;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.col-card {
    padding-left: 0 !important;
}

#footer {
    padding: 20px 0 20px 0;
}

#footer-text {
    font-weight: lighter;
}

header {
    height: 250px;
    background-image: url(../pexels-photo-1182338.jpeg);
}

.info2 {
    position: absolute;
    top: 180px;
    left: 10px;
}

.projekti {
    position: absolute;
    left: 50px;
    top: 70px;
}
