body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

.brand-logo {
    font-family: 'Supermercado One', cursive;
    font-size: 300% !important;
}

.brand-logo:hover {
    cursor: default;
}

i.info {
    font-size: 45px !important;
    margin-top: 10px;
}

i.input-file {
    font-size: 200% !important;
}

.btn {
    padding: 0 10px !important;
}

.header-font {
    font-family: 'Roboto', sans-serif;
}

.normal-font{
    font-family: 'Open Sans', sans-serif;
}

.number {
    font-size: 150% !important;
    font-weight: bold;
}

form {
    width: 50%;
}

#loginForm {
    width: 30%;
}

#tervetuloatxt {
    margin-top: 30px;
}

.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: #e3f2fd;
}

.index-header {
    height: 250px;
    background-image: url(../pexels-photo-1182338.jpeg);
}

.lataa-header {
    height: 70px;
    background-image: url(../pexels-photo-1182338.jpeg);
}

.info2 {
    margin-right: 20px;
}

.projekti {
    position: absolute;
    left: 50px;
    top: 85px;
}

.projekti-lataa {
    margin-left: 20px;
}

input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #2979ff !important;
    box-shadow: 0 1px 0 0 #2979ff !important;
}

#txtEmail:focus {
    border-bottom: 1px solid #2979ff !important;
    box-shadow: 0 1px 0 0 #2979ff !important;
}

#txtPassword:focus {
    border-bottom: 1px solid #2979ff !important;
    box-shadow: 0 1px 0 0 #2979ff !important;
}

#txtPassword {
    margin-bottom: 15px;
}

#loginForm {
    margin-top: 30px;
}

.bq-color {
    border-left: 5px solid #2979ff;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #bbdefb !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2979ff !important;
}

.switch label .lever:before {
    background-color: #2196f3 !important;
    opacity: 0.15;
}

#warningText {
    font-size: 75%;
    color: red;
}

#modal2 {
    width: 500px;
}